<div class="title">Chili Tacos</div>
<div class="container">
  <div class="col col-sm-4 col-t-4 col-d-4">
    <h2>Tacos delivered!</h2>
    <ul>
      {{#each tacos}}
      {{#if this.pickUp}}
      <li>
        {{this.taco_name}}
        {{this.shell}}
      </li>
      {{/if}}
      {{/each}}
    </ul>
  </div>

  <div class="col col-sm-4 col-t-4 col-d-4">
    <h2>Add a Taco Order:</h2>
    <form class="orderInfo">
      <div class ="tacoOrder">
      <lable>Taco Name </lable><input type="text" id="taco" name="name"></input>
      </div>
      <br>
      <div class ="tacoOrder">
      <lable>Taco Shell </lable><input type="text" id="tacoShell" name="shell"></input>
      </div>
      
      <button type="submit">Order</button>
    </form>
  </div>


  <div class="col col-sm-4 col-t-4 col-d-4">
    <h2>Tacos need to pick ups!</h2>
    <ul>
      {{#each tacos}}
      {{#unless this.pickUp}}
      <li>
        {{this.taco_name}}
        {{this.shell}}
        <button class="change-pickUP" data-id={{this.id}} data-newPickUp={{this.pickUp}}>
          Picked UP!
        </button>
      </li>
      {{/unless}}
      {{/each}}
    </ul>

  </div>

</div>

<script>
  $(function () {
    $(".change-pickUP").on("click", function (event) {
      var id = $(this).data("id");
      var newPickUpState = {
        pickUp: 1
      };

      // Send the PUT request.
      $.ajax("/api/taco/" + id, {
        type: "PUT",
        data: newPickUpState
      }).then(
        function () {
          console.log("changed pickUp to", id);
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });

    $(".orderInfo").on("submit", function (event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();

      var newtaco = {
        name: $("#taco").val().trim(),
        shell: $("#tacoShell").val().trim(),
        vegetarian: 0,
        pickUp: 0
      };
console.log(newtaco)
      // Send the POST request.
      $.ajax("/api/taco", {
        method: "POST",
        data: newtaco
      }).then(
        function () {
          console.log("created new taco");
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });

  });
</script>